@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Playfair+Display&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
}

/* HEADER BEGIN */
.menu-block{
  list-style: none;
  width: 100%;
  margin-top:70px;
  
  text-align: center;
}

.li-menu{
  display: inline;
}

#first-a{
  margin-left: 70px;
}

.a-menu{
  color:black;
  text-decoration: none;
  font-size: 18px;
  margin-right: 95px;
  align-content: center;
  opacity: 0.6;
}

.a-menu:hover{
  color: rgb(64, 201, 255);
}
/* HEADER END */

/* MAIN BEGIN */

.main{
  width: 100%;
  text-align: center;
}

img{
  width: 450px;
}

.content{
  width: 470px;
  padding-top: 10px;
  text-align: center;
  display: inline-block;
  margin-right: 40px;
  margin-top: 110px;
}

.content-text{
  max-width: 450px;
  margin-left: 10px;
  margin-top: 25px;
  text-align: left;
}

h2{
  opacity: 0.6;
  font-size: 30px;
  font-weight: 10;
}

.content-text-first-p{
  opacity: 0.3;
  font-family: 'Nanum Gothic', sans-serif;
}

.content-text-second-p{
  opacity: 0.5;
  line-height: 28px;
}

.div-button{
  display: block;
  width: 100%;
  text-align: center;
}

.button{
  margin-right: 50px;
  margin-bottom: 70px;
  height: 60px;
  width: 170px;
  background-color: white;
  border: 2px solid gray;
  margin-top: 50px;
  font-size: 20px;
  opacity: 0.6;
}

/* MAIN END */