@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900|Roboto:300,400&display=swap');

.container{
  background-image: url(../img/header1.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 540px;
  margin-bottom: 70px;
}

.header{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-bottom: 35px;
}

.logo{
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  margin: 0;
}

.menu{
  padding: 0;
  margin-bottom: 110px;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item{
  list-style: none;
}

.menu-item:last-child{
  padding: 10px 18px;
  border: 2px solid #ffffff;
  border-radius: 20px;
}

.menu-link{
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
}

.title{
  margin: 0;
  padding: 0;
  font-size: 27px;
  line-height: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
}

.subtitle{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: rgba(255,255,255,0.7);
  font-size: 18px;
  width: 220px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.container-link{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 10px 0;
  width: 280px;
  background-color: #ff4e50;
  border-radius: 20px;
}

.content-title{
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  color: #333333;
}

.card{
  margin: 0 auto;
  text-align: center;
  width: 220px;
  margin-bottom: 30px;
}

.user-img-wrapper{
  position: relative;
}

.user-icon-wrapper{
  position: absolute;
  width: 34px;
  height: 34px;
  border: 3px solid #ffffff;
  border-radius: 50%;
  bottom: 0;
  right: 22%;
}

.user-icon{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.user-icon-wrapper1{
  background-color: #ff4e50;
}

.user-icon-wrapper2{
  background-color: #ffa507;
}

.user-icon-wrapper3{
  background-color: #1cd7ad;
}

.user-icon-wrapper4{
  background-color: #4e73db;
}

.user-name{
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: #333333;
}

.user-info{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color: #333333;
  opacity: 0.6;
}

.card-button{
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #ff4e50;
  padding: 13px 27px;
  border: 2px solid #ff4e50;
  border-radius: 30px;
  background-color: #ffffff;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px){

  .container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
    ,url(../img/header2.png);
    height: 700px;
  }

  .header{
    width: 670px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 37px;
    margin-bottom: 140px;
  }

  .menu{
    margin-top: 0;
    margin-bottom: 0;
  }

  .title{
    font-size: 51px;
    line-height: 60px;
    width: 540px;
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .subtitle{
    width: 404px;
    font-size: 23px;
    margin-bottom: 40px;
  }

  .content-title{
    margin-bottom: 35px;
  }

  .content{
    margin: 0 auto;
    height: 530px;
    width: 490px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .card{
    margin: 0;
    margin-bottom: 30px;
  }

  .card-button{
    display: block;
  }
}

@media screen and (min-width: 1024px){
  .container{
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../img/header3.png);
  }
  
  .header{
    width: 942px;
  }

  .content{
    width: 942px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 270px;
  }

  .card{
    margin: 0;
  }

  .card1{
    order: 1;
  }

  .card2{
    order:3;
  }

  .card3{
    order:2;
  }

  .card4{
    order: 4;
  }
}